/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Bree Serif", serif;
}
h1 {
  font-size: 2.6rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 4rem;
  font-weight: 500;
}
h3 {
  font-size: 3rem;
  font-weight: 100;
}
h4,
h5 {
  font-size: 2.8rem;
}
a {
  color: white;
  text-decoration: none;
}
button {
  font-family: "Bree Serif", serif;
  padding: 1.5rem 7.9rem;
  background: rgb(184, 83, 16);
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.8rem;
  font-weight: 300;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}

button:hover {
  background: rgb(143, 60, 5);
}

/* Nav Section With Hero */

.main-head {
  background: #131c27;
  color: white;
}

nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  flex: 1 1 40rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

#logo {
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
  letter-spacing: 0.3rem;
}

.hero {
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("./img/landing-page.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h3 {
  padding: 5rem;
}

/* Locations SECTIONS */

#locations {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), transparent),
    url("./img/new-york-page.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  position: relative;
  overflow: hidden;
}

.locations-head {
  width: 90%;
  margin: auto;
}

.locations-head h2 {
  padding: 2rem 0rem;
  text-decoration: underline;
  text-decoration-thickness: 0.5rem;
}

.locations-head h3 {
  padding: 4rem 0rem;
  background: linear-gradient(#131c27, #663b34);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.cloud {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 60%;
  pointer-events: none;
}

.moving-cloud-1 {
  animation: cloudAnimation 4s infinite alternate ease-in-out;
}

.moving-cloud-2 {
  top: 20%;
  z-index: -1;
  opacity: 0.5;
  animation: cloudAnimation 4.5s infinite alternate ease-in-out;
}

@keyframes cloudAnimation {
  from {
    transform: translate(10%, -10%);
  }
  to {
    transform: translate(0%, 0%);
  }
}

/* Media Query */

@media screen and (max-width: 948px) {
  nav {
    text-align: center;
  }
  #logo {
    padding: 1rem;
  }
  html {
    font-size: 45%;
  }
  .cloud {
    width: 100%;
  }
  .moving-cloud-1 {
    z-index: -1;
  }
  .moving-cloud-2 {
    top: 10%;
    z-index: -2;
  }
  /* .locations-head h2 {
    align-items: center;
    justify-content: center;
  } */
  .locations-head {
    min-height: 65vh;
    margin: auto;
    justify-content: center;
  }
}
